// Define variables for your color scheme

// My project 1 colors
$color-body: rgba(234,232,220,1);
$beige: rgba(216,195,164,1);
$brown-gray: rgba(216,195,164,1);
$red-lighter: rgba(232,128,115,1);
$red: rgba(232,90,80,1);

// My project 1 colors
$color-body2: rgba(153, 185, 170, 1);
$white: rgba(221, 231, 226, 1);
$color-body-linear: linear-gradient(to bottom, rgba(153, 185, 170, 1), rgba(221, 231, 226, 1));
$lettertype: #574712;
$button: rgba(200,198,196,1);