<div class="main-container-contactpage">
  <%= render 'shared/sidebar' %>
  <div class="container-contact">

    <div id="logo-small">
       <%= image_tag("logo_gold.png") %>
    </div>
    <hr class="line-contactpage">
    <h6>Postbus 11185</h6>
    <h6>1001 GD Amsterdam</h6>
    <a href="tel:+31 (0)6 51 7777 40"><h6>tel: +31 (0)6 51 7777 40</h6></a>
    <h6><%= mail_to "info@ljm-webdevelopment.nl", "info@ljm-webdevelopment.nl" %></h6>    
    <hr class="line-contactpage"> 

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.654299290898!2d4.875082215949735!3d52.39481695325102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c608296e38528b%3A0x7650a93594b100c6!2sHaparandaweg%20720%2C%201013%20BD%20Amsterdam%2C%20Nederland!5e0!3m2!1snl!2s!4v1602009342311!5m2!1snl!2s" class="google-map"width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  
  </div>
</div>



