<div class="main-container">
<%= render 'shared/sidebar' %>
  <div class="container-homepage">
    <div class="content-left"> 
    <h2>LJM Web Development</h2>
      <h5>Ruby on Rails specialist</h5>
    </div>

    <div class="github-project">
      <h6>Check out my projects on Github </h6>
      <div class="bio-container">
        <a href="https://github.com/raquelitaT/Music-connects">
          <div class="card-category card-project-1">
          </div>
        </a>
        <a href="https://github.com/LauraVanNieuwland/PublicBusinessAssigments/tree/master/WiekeDistillers">
          <div class="card-category card-project-2">      
          </div>
        </a>
        <a href="https://github.com/LauraVanNieuwland/RubyOnRails/tree/master/MUSICORUM">
          <div class="card-category card-project-3">      
          </div>
        </a>
        <a href="https://github.com/LauraVanNieuwland/destroy_boxing">
          <div class="card-category card-project-4">      
          </div>
        </a>
        <a href="https://github.com/LauraVanNieuwland?tab=repositories">
          <div class="card-category card-project-5">  
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
