<div class="main-container">
<%= render 'shared/sidebar' %>

    <div class="container-products">
      <div class="container-products-twee">
        <div class="product-card card-product-1">
          <div class="h2-background">
            <h2>Static Website</h2>
          </div>
          

          <%= image_tag 'static_website.jpg'%> 
          
          <p>A basic website contains pages with fixed content. </p>
          <div class="list-block">
            <ul>
              <li><i class="fas fa-check"></i>&nbsp Fixed content</li>
              <li><i class="fas fa-check"></i>&nbsp Display same information</li>
              <li><i class="fas fa-check"></i>&nbsp Delivered quick</li>
              <li><i class="fas fa-check"></i>&nbsp Low-priced</li>
            </ul>
          </div>


          <div class="product-price">
            <div class="button-card">
              <a href="contact">Contact Me</a>
            </div>
          </div>

        </div>

        <div class="product-card card-product-2">
          <div class="h2-background">
            <h2>Front End Design</h2>
          </div>
          

          <%= image_tag 'design.jpg'%> 
          
          <p>If you like my design, please contact me to discuss the possibilities.</p>
          <div class="list-block">
            <ul>
              <li><i class="fas fa-check"></i>&nbsp HTML/CSS</li>
              <li><i class="fas fa-check"></i>&nbsp ERB</li>
              <li><i class="fas fa-check"></i>&nbsp Responsive Design</li>

            </ul>
          </div>


          <div class="product-price">
            <h4>€ I.C.W.</h4>
            <div class="button-card">
              <a href="contact">Contact Me</a>
            </div>
          </div>

        </div>

        <div class="product-card card-product-3">
          <div class="h2-background">
            <h2>Dynamic Website</h2>
          </div>
          

          <%= image_tag 'dynamic_website.jpg'%> 
          
          <p>A web application that displays different content and provide user interaction. </p>
          <div class="list-block">
            <ul>
              <li><i class="fas fa-check"></i>&nbsp Advanced programming</li>
              <li><i class="fas fa-check"></i>&nbsp Webshop</li>
              <li><i class="fas fa-check"></i>&nbsp Database related</li>
              <li><i class="fas fa-check"></i>&nbsp Different content per user</li>
            </ul>
          </div>


          <div class="product-price">

            <div class="button-card">
              <a href="contact">Contact Me</a>
            </div>
          </div>

        </div>      

      </div>
    </div>

</div>

