<div id="navbar">
    <div id="logo-small">
      <%= link_to image_tag("logo_gold.png"), "home" %>
    </div>
    <div class="menu-item-navbar">
      <a href="contact">Contact Me</a>
    </div>
  </div>
</div>
