<div class="side-bar">
  <div class="sidebar-menu-items">
    <div id="side-bar-menu">
      <a href="home" class="side-link">Home</a>
      <a href="about" class="side-link">About</a>
      <a href="products" class="side-link">Hire Me</a>
      <a href="contact" class="side-link">Contact</a>
   </div>
  </div>
  

  <div class="sidebar-links">
    <div class="div">
      <a href="https://github.com/LauraVanNieuwland"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/laura-van-nieuwland-6a026a34/"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/lauravannieuwland/?hl=nl"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>