<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,100,0.3) 0%, rgba(0,36,100,0.3) 50%), url(https://res.cloudinary.com/dd4yqqpfh/image/upload/v1598359504/david-menidrey-d26p8nEP9kU-unsplash_vmi8ly.jpg);">
<div class="banner-content">
<h1>MUSICORUM</h1>
<p>Keep music in your life</p>

<div class="search-bar">
<form action="/instruments" class="form-inline padded">

 <input type="text" class="form-control border-radius input-lg" placeholder="Instrument">
<input type="text" class="form-control border-radius input-lg" placeholder="Location">
  <input type="date" name="start date" class="form-control border-radius input-lg datepicker" placeholder="Start date">
  <input type="date" name="end date" class="form-control border-radius input-lg datepicker" placeholder="End date">
  <input type="submit" class="btn btn-dark btn-lg" value="Search">
</form>
</div>
</div>
</div>



